body {
    margin: 10;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: beige;
}

#message {
    color: beige;
    font-size: 18px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line {
    font-size: 50px;
    height: 1px;
    background-color: beige;
    margin: 0 25px;
}