html {
    font-size: 5px;
}

/* 
.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.syne-<uniquifier> {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    margin: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: beige;
    font-size: 8rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#message {
    color: beige;
    font-size: 4rem;
    margin-top: 25px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#instruction {
    color: rgb(197, 197, 175);
    font-size: 3rem;
    margin: 10px;
    opacity: 1;
    animation: fadeInOut 3s infinite;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeInOut {
    0%,100% { opacity: 0.5 }
    50% { opacity: 1 }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.line {
    font-size: 10rem;
    height: 1px;
    background-color: beige;
    margin: 0 25px;
}

#myCanvas {
    border-radius: 20px;
    width: 75%;
    height: 70%;
}

.card {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 280px;
    margin-top: 60px;
}
  
.card svg {
    position: relative;
    display: flex;
    width: 15%;
    height: 70%;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
}
  
.card .github {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: whitesmoke;
    transition: 0.25s;
    border-radius: 70px;
}
  
.card svg {
    transform: scale(1);
}
  
.card .github:hover {
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
      transform: scale(1.2);
    }
  
    70% {
      transform: scale(0.8);
    }
  
    100% {
      transform: scale(1);
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 6rem;
    }

    .line {
        font-size: 6rem;
        margin: 0 20px;
    }

    #message {
        font-size: 4rem;
        margin-top: 20px;
    }

    #instruction {
        font-size: 3rem;
        margin: 15px;
    }

    #myCanvas {
        width: 80%;
        height: 50%;
    }
}

@media (max-width: 700px) {

    body {
        margin: 15px;
    }

    h1 {
        font-size: 5rem;
    }

    .line {
        font-size: 5rem;
        margin: 0 15px;
    }

    #message {
        font-size: 3rem;
        margin-top: 15px;
    }

    #instruction {
        font-size: 2rem;
        margin: 10px;
    }

    #myCanvas {
        width: 90%;
        height: 40%;
    }

}