html {
    font-size: 0.35vw;
}

body {
    margin: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: beige;
    font-size: 8rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: beige;
    font-size: 6rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 
.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.syne-<uniquifier> {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.line {
    font-size: 10rem;
    height: 1px;
    background-color: beige;
    margin: 0 25px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;
    margin: 30px;
}

#myCanvas {
    border-radius: 20px;
    width: 100%;
    height: 95%;
}

.caption {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    color: beige;
    font-size: 4rem;
    margin-top: 25px;
}

#instruction {
    color: rgb(197, 197, 175);
    font-size: 3rem;
    margin: 10px;
    opacity: 1;
    animation: fadeInOut 3s infinite;
}

#playAgain {
    background-color: beige;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    margin: 40px;
 }

.card {
    height: 70px;
    width: 280px;
    margin-top: 60px;
}
  
.card svg {
    position: relative;
    display: flex;
    width: 15%;
    height: 70%;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
}
  
.card .github {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: whitesmoke;
    transition: 0.25s;
    border-radius: 70px;
}
  
.card svg {
    transform: scale(1);
}
  
.card .github:hover {
    animation: bounce 0.4s linear;
}

.slideInLeft {
    /* animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-fill-mode: none; */

    animation: slideInLeft 1s ease-in;
}

.slideInRight {
    animation: slideInRight 1s ease-in;
}

.fadeOut {
    animation: fadeOut 2s ease-out forwards 3s;
}

@keyframes bounce {
    40% {
      transform: scale(1.2);
    }
  
    70% {
      transform: scale(0.8);
    }
  
    100% {
      transform: scale(1);
    }
}

@keyframes fadeInOut {
    0%,100% { opacity: 0.5 }
    50% { opacity: 1 }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fadeOut {
    0% { opacity: 1 }
    25% { opacity: 0.75 }
    50% { opacity: 0.5 }
    75% { opacity: 0 }
    100% { opacity: 0 }
}

@media (max-width: 800px) {
    #game {
        width: 100%;
    }
}